<div class="row">
<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <br>
</section>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Último Acesso</span>
          <span class="info-box-number"><%= @user.updated_at.strftime('%d/%m/%y, as %Hh%mmin') %></span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-desktop"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Acessos</span>
          <span class="info-box-number numero-maior"><%= @user.logins %></span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div>
